.galleri{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem 2rem;
    justify-content: center;
  }
  
  .imggalleri {
      width: 20rem;
      height: 20rem;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
  }
  