.galleri{
    max-width: 70rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
  
.imggalleri {
    width: 20rem;
    height: 20rem;
    margin: 1rem;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}