{% extends "layouts/base.html" %}
{% block content %}
    <h1>
        {{ title }}
    </h1>
    <div class="dropdown">
        <button class="dropbtn">Dag</button>
        <div class="dropdown-content">
            <a href="#">Måndag</a>
            <a href="#">Tisdag</a>
            <a href="#">Onsdag</a>
            <a href="#">Torsdag</a>
            <a href="#">Fredag</a>
            <a href="#">Lördag</a>
            <a href="#">Söndag</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Vecka</button>
        <div class="dropdown-content">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">7</a>
        </div>
    </div>

    <div>
        {# <label for="namn">Namn:</label> #}
        <input type="text" id="name" name="name" placeholder="Namn...">
    </div>

    <div>
        {# <label for="e-mail"> E-post:</label> #}
        <input type="text" id="e-mail" name="e-mail" placeholder="E-post...">
    </div>

    <div>
        {# <label for="number"> Telefon:</label> #}
        <input type="text" id="number" name="number" placeholder="Telefon...">
    </div>
    
    <input type="submit" value="Boka">
{{ content | safe }}
{% endblock %}